 .sweet {
     height: 600px;
 }

 .sweet .sweet-left {
     float: left;
     width: 240px;
     height: 100%;
     border: 1px solid transparent;
     background-color: #e8e8e8;
 }

 .sweet .sweet-left .cake {
     height: 200px;
     font-size: 30px;
     letter-spacing: 40px;
     text-orientation: upright;
     writing-mode: vertical-lr;
     margin-top: 170px;
     margin-left: 50px;
     color: #6c6c6c;
 }

 .sweet .sweet-left .cake p {
     margin-left: 40px;
     margin-top: 60px;
 }

 .sweet-right {
     float: right;
     width: 720px;
     height: 100%;
     background-color: #e8e8e8;
 }

 .sweet-right .sweetItem {
     width: 100%;
     height: 25%;
     padding-left: 150px;
     padding-top: 10px;
     border-bottom: 1px dotted #6c6c6c;

 }

 .sweet-right .sweetItem .pric {
     float: right;
     height: 100%;
     margin-right: 250px;
 }

 .sweet-right .sweetItem .pric h2 {
     color: #6c6c6c;
     font-size: 20px;
     margin-top: 20px;
     margin-bottom: 40px;
 }

 .sweet-right .sweetItem .pric p {
     color: red;
     font-size: 17px;
 }

 .sweet-right .sweetItem .pric p span {
     font-size: 12px;
 }

 .cateList {
     width: 600px;
     height: 30px;
     margin: 50px auto;

 }

 .cateList ul li {
     float: left;
     height: 100%;
     padding: 0 30px;
     line-height: 30px;
     margin-right: 40px;
     background-color: #e8e8e8;
     border-radius: 15px;

 }

 .cateList ul li:nth-child(1) {
     background-color: red;
 }

 .cateList ul li:nth-child(1) a {
     color: white;
 }

 .cateList ul li:hover {
     background-color: red;
 }

 .cateList ul li:hover a {
     color: white;
 }

 .cakeNum {
     display: flex;
     justify-content: space-between;
     align-content: space-between;
     flex-wrap: wrap;
     height: 650px;

 }

 .cakeNumItem {
     width: 235px;
     height: 300px;
     text-align: center;
     color: #6c6c6c;

 }

 .cakeNumItem .cakeNumItemtop {
     width: 100%;
     height: 280px;
     border-bottom: 1px dotted #aaa;
 }

 .cakeNumItem .cakeNumItemtop img {
     width: 100%;
     height: 90%;
 }


 .cakeNumItemBottom .pric p {
     color: red;
     font-size: 17px;
 }

 .cakeNumItemBottom .pric span {
     font-size: 12px;
 }